* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #3B4FA2;
  --orange: #FC9E47;
  --orange-gradient: linear-gradient(266.39deg, #FFB571 4.35%, #FB9435 100%);
  --title-color: #374168;
  --text-color: #414141;
  --gray: #8C8C8C;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 125%;
  color: var(--text-color);
  font-variant-numeric: lining-nums;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
}
.header-first-row .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.header-logo {
}
.header-address {
  display: flex;
  align-items: center;

  font-size: 15px;
  font-weight: 500;
}
.header-address img {
  margin-right: 10px;
}
.header-email {
  display: flex;
  align-items: center;
}
.dark-text-link {
  transition: 0.5s ease;
}
.dark-text-link:hover {
  color: rgba(65, 65, 65, 0.7);
}
.white-text-link {
  transition: 0.5s ease;
}
.white-text-link:hover {
  color: rgba(255, 255, 255, 0.6);
}
.header-email a {
  transition: 0.5s ease;
  font-size: 15px;
  font-weight: 500;
}
.header-email img {
  margin-right: 10px;
}
.header-tel-contacts {
  display: flex;
  align-items: center;
}
.header-tel-contacts a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-phones {
  display: flex;
  flex-direction: column;

  margin-left: 10px;
}
.header-phone {
  font-weight: 600;
  font-size: 16px;
}
.btn {
  padding: 15px 40px;
  background: var(--orange-gradient);
  border-radius: 5px;
  color: #fff;

  font-size: 15px;
  font-weight: 600;

  transition: box-shadow 0.5s ease;
}
.btn:hover {
  background: linear-gradient(266.39deg, #FF9736 4.35%, #F58014 100%);
  box-shadow: 0px 4px 20px rgba(255, 123, 0, 0.3);
}
.btn:active {
  background: #E07411;
  transform: scale(0.98);
}
.call-btn {
}
.header-burger {
  display: none;

  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: relative;

  cursor: pointer;
}
.header-burger.active span {
  transform: scale(0);
}
.header-burger.active::after {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header-burger.active::before {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.header-burger:hover span {
  background: var(--orange);
}
.header-burger:hover::before,
.header-burger:hover::after {
  background: var(--orange);
}
.header-burger span {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: var(--orange-gradient);

  transition: transform 0.5s ease;
}
.header-burger::before,
.header-burger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  left: 0;
  background: var(--orange-gradient);

  transition: transform 0.5s ease;
}
.header-burger::before {
  top: 3px;
}
.header-burger::after {
  bottom: 3px;
}
.nav {
  background: var(--dark-blue);
  margin-top: 20px;
}
.nav-menu {
  display: flex;
  color: #fff;
  font-size: 16px;
  padding: 16px 0;
}
.nav-menu .has-submenu {
  position: relative;
}
.nav-menu .has-submenu:hover > a {
  color: var(--orange);
}
.nav-menu .has-submenu:hover::after {
  top: calc(50% - 3px);
  transform: translateY(-50%) rotate(180deg);
  border-top: 5px solid var(--orange);
}
.nav-menu .has-submenu::after {
  content: '';
  position: absolute;
  right: -15px;
  top: calc(50% + 3px);
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-top: 5px solid #fff;

  transition: 0.5s ease;
}
.nav-menu > li a {
  transition: 0.5s ease;
}
.nav-menu > li a:hover {
  color: var(--orange);
}
.nav-menu > li:not(:first-child){
  margin-left: 40px;
}
.submenu-list {
  top: 20px;
  left: 0;

  padding: 20px 20px;

  background: var(--dark-blue);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;

  height: 310px;
  width: 480px;
}
.nav-menu-wrapper {
  display: none;

  position: absolute;
  top: 20px;
  left: 0;

  padding-top: 40px;
  z-index: 2;
}
.nav-menu .has-submenu:hover .nav-menu-wrapper {
  display: flex;
}
.submenu-list > li {
  max-width: 254px;
  margin-top: 10px;
  padding: 0 10px;
}
.submenu-list > li:first-child::before {
  content: '';
  position: absolute;
  top: 21px;
  border: 10px solid transparent;
  border-bottom: 10px solid var(--dark-blue);
}
.mobile-menu-logo {
  display: none;
}
.mobile-menu-address {
  display: none;
}
.mobile-menu-email {
  display: none;
}
.mobile-menu-tel-contacts {
  display: none;
}
.mobile-menu-phones {
  display: none;
}
.mobile-menu-phone {
  display: none;
}
.mobile-call-btn {
  display: none;
}

/* === HEADER POPUP === */

.header-popup {
}
.popup {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  width: 100vw;
  min-height: 100vh;

  background: rgba(55, 65, 104, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;

  transition: 0.5s ease;
}
.popup.active {
  opacity: 1;
  visibility: visible;
}
.popup-body {
  padding: 40px 50px;

  background: #fff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  transform: scale(0);

  transition: 0.5s ease;
}
.popup.active .popup-body {
  transform: scale(1);
}
.header-popup-body {
  width: 420px;
}
.popup-body {
  position: relative;
}
.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.popup-close::before,
.popup-close::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 2px;
  background: #B3B3B3;
}
.popup-close::before {
  transform: rotate(45deg);
}
.popup-close::after {
  transform: rotate(-45deg);
}
.popup-title {
  font-weight: 800;
  font-size: 30px;
  color: var(--title-color);
}
.popup-subtitle {
  color: #2A2A2A;
  margin-top: 20px;
}
.header-popup-form {
  margin-top: 20px;
}
.header-popup-form > input:not(:first-child) {
  margin-top: 15px;
}
.btn {
}
.header-btn {
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=text], 
input[type=phone], 
input[type=email], 
input[type=number], 
input[type=text] {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #B3B3B3;
  border-radius: 4px;
  padding: 20px 17px;

  height: 50px;
  width: 270px;

  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  color: #8C8C8C;
}
input:hover {
  border: 1px solid var(--orange);
}
input:focus {
  border: 1px solid var(--orange);
  outline: none;
}
input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  color: #8C8C8C;
}
.header-popup-form > input {
  width: 100%;
}
.checkbox-personal {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.checkbox-personal a {
  text-decoration: underline;
}
.checkbox-personal label {
  position: relative;
  font-size: 12px;
  padding-left: 20px;
}
.checkbox-personal label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #FC9E47;
  border-radius: 2px;
}
.checkbox-personal input:checked ~ label:before {
  background: var(--orange);
}
.checkbox-personal input:checked ~ label::after {
  position: absolute;
  top: -2px;
  left: 3px;
  content: url('../img/header/popup-check.svg');
}
.checkbox-personal input {
  appearance: none;
}
.checkbox-personal input {
  border: none;
}
.checkbox-personal input:hover {
  border: none;
}

/* === START PAGE === */

.start-page {
  position: relative;
  width: 100%;
  height: 600px;
}
.start-page-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.start-page-bg img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}
.start-page-bg-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.76) 48.25%, rgba(255, 255, 255, 0.05) 100%), url(watt-a-lot-gqpuuF3a2tY-unsplash.jpg);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.container {
}
.start-page-body {
  padding-top: 60px;
  position: relative;
  display: flex;
  z-index: 1;
}
.start-page-title {
  flex: 0 0 50%;
  font-weight: 800;
  font-size: 26px;
  line-height: 145%;
  color: var(--title-color);
}
.start-page-text {
  flex: 0 0 45%;
  margin-left: 20px;
}
.start-page-text p:last-child {
  margin-top: 20px;
}

/* === BLUE CARDS === */

.blue-cards {
  transform: translateY(-75px);
}
.container {
}
.blue-cards-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 20px;
}
.blue-cards-column {

  background: var(--dark-blue);
  box-shadow: 0px 4px 30px rgba(55, 65, 104, 0.15);
  border-radius: 10px;
  padding: 30px 30px 40px 30px;

  display: flex;
  flex-direction: column;

  position: relative;
  overflow: hidden;
}
.blue-cards-column img {
  position: absolute;
  width: 22px;
  height: 22px;
  bottom: 16px;
  right: 16px;
}
a.blue-cards-column:hover > div {
  color: var(--orange);
}
.blue-cards-column:hover::after {
  width: 350px;
  height: 350px;
}
.blue-cards-column::after {
  content: '';
  position: absolute;
  top: -180px;
  left: -100px;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition: 0.5s ease;
}
.blue-cards-column:last-child {
  padding-top: 50px;
}
.blue-card-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 135%;
  color: #fff;
}
.blue-card-title:last-child {
  font-size: 24px;
}
.blue-card-subtitle {
  font-size: 18px;
  color: #fff;
}

/* === POPULAR PRODUCTS === */


.popular-products {
  margin-top: 80px;
}
.container {
}
.section-title h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 115%;
  color: var(--title-color);
  text-align: center;
}
.popular-items-body {
  position: relative;
  margin-top: 40px;
}

.swiper-wrapper {
}
.popular-products .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px 10px;
}
.popular-product-item {
  display: flex;
  flex-direction: column;

  padding: 30px;
  border: 1px solid #DDE3FB;
  border-radius: 10px;
  width: 100%;
  height: 380px;

  transition: 0.5s ease;
}
.popular-product-item:hover {
  border: 1px solid transparent;
  box-shadow: 0px 4px 30px rgba(55, 65, 104, 0.15);
}
.popular-product-image {
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: 0 auto;
}
.popular-product-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.popular-product-name {
  margin-top: 15px;
  min-height: 39px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  line-clamp: 2;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.popular-product-prices {
  display: flex;
  margin-top: 8px;
}
.popular-product-new-price {
  font-weight: 600;
  font-size: 18px;
}
.popular-product-old-price {
  margin-left: 10px;
  color: #8c8c8c;
  text-decoration: line-through;
}
.btn {
}
.popular-product-btn {
  margin-top: 10px;
  text-align: center;
}

.navigation-arrow {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--orange-gradient);
  z-index: 2;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}
.navigation-arrow:hover {
  background: var(--orange);
}
.navigation-arrow-left {
  left: -10px;
}
.navigation-arrow-right {
  right: -10px;
}
.popular-body-button {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.popular-items-body .swiper-button-disabled {
  opacity: 0.7;
  cursor: auto;
}
.popular-body-btn {
  background: var(--dark-blue);
}
.popular-body-btn:hover {
  background: #233ca3;
  box-shadow: 0px 4px 20px rgba(35, 60, 163, 0.3);
  color: var(--orange);
}

/* === ACTUAL PROMOS === */

.actual-promos {
  margin-top: 80px;
}
.actual-promos-body {
  margin-top: 40px;

  display: flex;
}
.actual-big {
  flex: 1 0 60%;
  height: 400px;
  display: flex;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 50px 30px 50px;
  box-shadow: 0px 4px 30px rgba(55, 65, 104, 0.15);
}
.actual-big:hover::after {
  width: 705px;
  height: 705px;
}
.actual-big::after {
  content: '';
  position: absolute;
  top: -320px;
  left: -180px;
  width: 615px;
  height: 615px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition: 0.5s ease;
}
.actual-body-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.actual-body-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 0.1;
}
.actual-bg-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--dark-blue);
  opacity: 0.9;
}
.actual-big-text {
  display: flex;
  flex-direction: column;
  width: 315px;
  z-index: 2;
}
.actual-big-title {
  font-weight: 800;
  font-size: 34px;
  line-height: 125%;
  color: #fff;
}
.actual-big-subtitle {
  color: #fff;
  margin-top: 10px;
  line-height: 155%;
}
.actual-big-link {
  font-weight: 600;
  font-size: 18px;
  color: var(--orange);
  margin-top: auto;
  display: flex;
  align-items: center;
  transition: 0.5s ease;
}
.actual-big-link:hover {
  color: #E07411;
}
.actual-big-link path {
  transition: 0.5s ease;
}
.actual-big-link:hover path {
  fill: #E07411;
}
.actual-big-link svg {
  margin-left: 10px;
}
.actual-big-panel {
  position: absolute;
  bottom: -20px;
  right: 0;
  z-index: 1;
}
.actual-body-small {
  flex: 1 0 30%;

  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding: 30px;
  margin-left: 20px;
}
.actual-body-small:hover::after {
  width: 557px;
  height: 557px;
}
.actual-body-small::after {
  content: '';
  position: absolute;
  bottom: -280px;
  left: -180px;
  width: 507px;
  height: 507px;
  border-radius: 50%;
  background: rgba(59, 79, 162, 0.8);

  transition: 0.5s ease;
}
.actual-small-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.actual-small-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: left;
  z-index: -1;
}
.actual-small-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 240px;
  z-index: 1;
}
.actual-small-title {
  font-weight: 800;
  font-size: 34px;
  color: #fff;
}
.actual-small-subtitle {
  color: #fff;
  margin-top: 10px;
}
.actual-small-link {
  margin-top: 26px;

  font-weight: 600;
  font-size: 18px;
  color: var(--orange);
  display: flex;
  align-items: center;
  transition: 0.5s ease;
}
.actual-small-link:hover {
  color: #E07411;
}
.actual-small-link path {
  transition: 0.5s ease;
}
.actual-small-link:hover path {
  fill: #E07411;
}
.actual-small-link svg {
  margin-left: 10px;
}
.actual-promos-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.actual-promo-btn {
}

/* === OUR-WORKS === */

.our-works {
  margin-top: 80px;
}
.our-works-swiper {
  margin-top: 40px;
}
.our-works .container {
  overflow: hidden;
}
.section-title {
}
.our-works-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.our-works-swiper .swiper-slide {
  border-radius: 10px;
  overflow: hidden;

  height: 300px;
}
.our-works-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.our-works-swiper .swiper-pagination-bullet-active {
  background: var(--orange);
}
.our-works-swiper .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -30px;
}

/* === FEEDBACK BLOCK === */

.feedback-block {
  margin-top: 80px;
}
.feedback-body {
  width: 100%;
  height: 261px;
  position: relative;

  background-image: url('../img/feedback-block/feedback-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  box-shadow: 0px 4px 30px rgba(55, 65, 104, 0.15);
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback-body-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-blue);
  opacity: 0.85;
}
.feedback-content {
  position: relative;
  z-index: 1;
  text-align: center;
}
.feedback-body-title {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
.feedback-body-title a {
  white-space: nowrap;
  transition: 0.5s ease;
}
.feedback-body-title a:hover {
  color: var(--orange);
}
.feedback-body-subtitle {
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
}
.feedback-form {
  margin-top: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback-form input {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #F1F1F1;
  border-radius: 4px;
  padding: 20px 17px;

  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  color: #F1F1F1;
  height: 50px;
  width: 270px;
}
.feedback-form input:hover {
  border: 1px solid var(--orange);
}
.feedback-form input:focus {
  border: 1px solid var(--orange);
  outline: none;
}
.feedback-form input:not(:first-child) {
  margin-left: 20px;
}
.feedback-form input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  color: #F1F1F1;
}
.phone {
}
.btn {
}
.feedback-form-btn {
  outline: none;
  border: none;
  height: 50px;
  margin-left: 20px;
  cursor: pointer;
  width: 270px;
}

/* === MAP === */

.map-section {
  margin-top: 80px;
  position: relative;
}
.map-section .section-title {
  display: none;
}
.desktop-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 769px;
  z-index: -1;
}
[class*="copyrights-pane"] {
  display: none !important;
}
.map-section .container {
  display: flex;
}
.map-contacts-body {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
  border-radius: 10px;
  overflow: hidden;
}
.map-contacts-body a {
  white-space: nowrap;
  transition: 0.5s ease;
}
.map-contacts-body a:hover {
  color: rgba(65, 65, 65, 0.7);
}
.contacts-title {
  font-weight: 800;
  font-size: 36px;
  color: var(--title-color);
  margin-bottom: 30px;
}
.contacts-item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.contacts-item-title {
  display: flex;
}
.contacts-item-img {
}
.contacts-item-subtitle {
  color: #8C8C8C;
  margin-left: 10px;
}
.contacts-item-text {
  margin-top: 5px;
}
.mobile-picture-map {
  display: none;
}

/* === FOOTER === */

.footer {
  width: 100%;
  position: relative;
  padding: 68px 0 30px 0;
  color: #fff;
}
.footer a {
  transition: 0.5s ease;
}
.footer a:hover {
  color: var(--orange);
}
.footer-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.footer-bg-img {
  width: 100%;
  height: 100%;
}
.footer-bg-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: scale(1.02);
}
.footer-bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-blue);
  opacity: 0.85;
}
.footer .container {
  display: flex;
  flex-direction: column;
}
.footer-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.footer-links-column {
  display: flex;
}
.footer-links {
  flex: 0 0 33%;
}
.footer-links .footer-header-links:not(:first-child) {
  margin-top: 20px;
}
.footer-links li:not(:first-child) {
  margin-top: 8px;
}
.footer-header-links {
  font-weight: 600;
  font-size: 15px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer-text {
  display: flex;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.7);
}
.footer-text p:not(:first-child) {
  margin-left: 80px;
}
.footer-scroll-link {
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
  height: 40px;
  background: var(--orange-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.footer-scroll-link:hover {
  background: var(--orange);
}

/* === AFTER CARDS === */

.after-cards-section  {
  margin-top: -75px;
  padding-top: 80px;
}

@media (max-width: 1400px) {
  .footer-scroll-link {
    right: 0px;
  }
}
@media (max-width: 1200px) {
  .header-address {
    flex: 0 0 20%;
  }
  .nav-menu > li:not(:first-child) {
    margin-left: 25px;
  }
  .footer-logo {
    margin-right: 20px;
  }
}
@media (max-width: 992px) {
  .header {
    padding-bottom: 10px;
    margin-top: 0;
    box-shadow: 0px 4px 30px rgba(55, 65, 104, 0.15);
  }
  .header-first-row .container {
    padding-bottom: 10px;
  }
  .header-address {
    display: none;
  }
  .header-burger {
    display: flex;
  }
  .nav {
    background: none;
    margin-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;

    transition: 0.5s ease;
    z-index: 10;
  }
  .nav.active {
    background: rgba(55, 65, 104, 0.7);
    pointer-events: inherit;
  }
  .nav .container {
    transform: translateX(100%);
    height: 100vh;
    width: 50vw;
    overflow-y: auto;
    background: #fff;

    display: flex;
    flex-direction: column;

    padding: 20px 30px 70px 30px;
    margin: 0 0 0 auto;

    transition: 0.5s ease;
  }
  .nav.active .container {
    transform: translateX(0);
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: 16px;
    padding: 16px 0;
  }
  .nav-menu > li {
    border-bottom: 1px solid #eeeeee;
    padding: 16px 0;
  }
  .nav-menu > li:not(:first-child){
    margin-left: 0;
  }
  .nav-menu .has-submenu {
    position: relative;
  }
  .nav-menu .has-submenu:hover::after {
    border-top: none;
  }
  .nav-menu .has-submenu:hover::after {
    top: 25px;
    transform: translateY(-50%) rotate(-45deg);
    background-color: var(--orange);
  }
  .nav-menu .has-submenu:hover::before {
    top: 25px;
    transform: translateY(-50%) rotate(45deg);
    background-color: var(--orange);
  }
  .nav-menu .has-submenu::after {
    content: '';
    position: absolute;
    top: 25px;
    right: 7px;
    width: 10px;
    height: 1px;
    background-color: var(--text-color);
    border: none;
    transform: rotate(45deg);

    transition: 0.5s ease;
  }
  .nav-menu .has-submenu::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 0;
    width: 10px;
    height: 1px;
    background-color: var(--text-color);
    border: none;
    transform: rotate(-45deg);

    transition: 0.5s ease;
  }
  .nav-menu-wrapper {
    display: none;
  
    position: relative;
    top: 16px;
    left: 0;
    padding-top: 0;
  }
  .submenu-list {
    padding: 0;
  
    background: #fff;
  
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px;
  
    height: 100%;
    width: 100%;
  }
  .nav-menu .has-submenu:hover .nav-menu-wrapper {
    display: flex;
  }
  .submenu-list > li {
    max-width: 100%;
    margin-top: 10px;
    padding: 0 0;

    font-weight: 400;
    font-size: 14px;
  }
  .submenu-list > li:last-child {
    margin-bottom: 16px;
  }
  .nav-menu > li a {
    transition: 0.5s ease;
  }
  .nav-menu > li a:hover {
    color:rgba(65, 65, 65, 0.7);
  }
  .submenu-list > li:first-child::before {
    content: '';
    position: relative;
    top: 21px;
    border: none;
  }
  .mobile-menu-logo {
    display: block;
    position: relative;
  }
  .close-mobile-menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
  }
  .close-mobile-menu:after,
  .close-mobile-menu:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 3.5px;
    background: #D9D9D9;
    border-radius: 4px;
  }
  .close-mobile-menu:after {
    transform: rotate(-45deg);
  }
  .close-mobile-menu:before {
    transform: rotate(45deg);
  }
  .mobile-menu-address {
    display: flex;
    margin-top: 20px;
  }
  .mobile-menu-address img {
    margin-right: 10px;
  }
  .mobile-menu-email {
    display: flex;
    margin-top: 50px;
  }
  .mobile-menu-email img {
    margin-right: 10px;
  }
  .mobile-menu-tel-contacts {
    display: flex;
    margin-top: 20px;
  }
  .mobile-menu-tel-contacts img {
    margin-right: 10px;
  }
  .mobile-menu-phones {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu-phone {
    display: block;
  }
  .mobile-call-btn {
    display: inline-block;
    margin-top: 20px;
    width: 200px;
    text-align: center;
  }
  .start-page {
    height: 990px;
  }
  .blue-cards {
    transform: translateY(-250px);
  }
  .after-cards-section  {
    margin-top: -250px;
    padding-top: 80px;
  }
  .actual-small-bg img {
    object-position: center;
  }
  .feedback-form {
    flex-direction: column;
  }
  .feedback-form input:not(:first-child) {
    margin-left: 0px;
    margin-top: 18px;
  }
  .feedback-form input {
    width: 300px;
  }
  .feedback-form-btn {
    margin-left: 0px;
    margin-top: 18px;
    width: 300px;
  }
  .feedback-body {
    padding: 60px 50px;
    height: 482px;
  }
  .feedback-body-title {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .feedback-body-subtitle {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }
  .desktop-map {
    display: none;
  }
  .map-contacts-body {
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0 20px 30px 20px;
  }
  .mobile-picture-map {
    position: relative;

    width: 100%;
    height: 462px;
    border-radius: 10px;

    display: flex;
    flex: 0 0 50%;
    overflow: hidden;
  }
  .mobile-picture-map img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
  }
  .contacts-title {
    display: none;
  }
  .map-section .section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-scroll-link {
    right: 5px;
  }
  .footer-links-column {
    margin-top: 40px;
  }
  .footer-text {
    justify-content: space-between;
  }
  .footer-text p:not(:first-child) {
    margin-left: 20px;
  }
  .footer {
    margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .header-first-row .call-btn {
    display: none;
  }
  .header-first-row .container {
    justify-content: flex-end;
  }
  .header-logo {
    margin-right: auto;
  }
  .header-burger {
    margin-left: 40px;
  }
  .header-tel-contacts {
    margin-left: 40px;
  }
  .start-page-body {
    flex-direction: column;
  }
  .start-page-text {
    flex: 1 0 50%;
    margin-left: 0px;
    margin-top: 20px;
  }
  .start-page-title {
    flex: 1 0 50%;
    font-size: 32px;
  }
  .actual-promos-body {
    flex-direction: column;
  }
  .actual-big {
    flex: 1 0 60%;
    min-height: 360px;
    padding: 30px;
  }
  .actual-body-small {
    flex: 1 0 30%;
    margin-left: 0;
    margin-top: 20px;
    min-height: 360px;
  }
  .actual-big-title {
    font-size: 30px;
  }
  .actual-small-title {
    font-size: 30px;
  }
  .actual-big-link {
    font-size: 16px;
  }
  .actual-small-link {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .header-email {
    display: none;
  }
  .header-phones .header-phone {
    display: none;
  }
  .header-burger {
    margin-left: 16px;
  }
  .header-burger {
    width: 28px;
    height: 28px;
  }
  .header-burger:hover span {
    background: var(--dark-blue);
  }
  .header-burger:hover::before,
  .header-burger:hover::after {
    background: var(--dark-blue);
  }
  .header-burger span {
    background: var(--dark-blue);
  }
  .header-burger::before,
  .header-burger::after {
    background: var(--dark-blue);
  }
  .nav .container {
    width: 100vw;
  }
  .start-page-text {
    font-size: 14px;
  }
  .start-page-title {
    font-size: 18px;
  }
  .blue-cards {
    transform: translateY(-490px);
  }
  .after-cards-section  {
    margin-top: -490px;
    padding-top: 80px;
  }
  .actual-big-panel {
    position: absolute;
    bottom: -30px;
    right: -100px;
    z-index: 1;
  }
  .actual-big-title {
    font-size: 20px;
  }
  .actual-small-title {
    font-size: 20px;
  }
  .actual-big::after {
    top: -145px;
    left: -50px;
    width: 360px;
    height: 360px;
  }
  .actual-big:hover::after {
    width: 450px;
    height: 450px;
  }
  .map-section .container {
    flex-direction: column;
  }
  .mobile-picture-map {
    width: 100%;
    height: 430px;

    flex: none;
  }
  .map-contacts-body {
    font-size: 14px;
  }
  .footer-links-column {
    font-size: 14px;
    flex-direction: column;
  }
  .footer-links-column .footer-links:not(:first-child) {
    margin-top: 40px;
  }
  .footer-text {
    flex-direction: column;
  }
  .footer-text p:not(:first-child) {
    flex-direction: column;
    margin-top: 10px;
    margin-left: 0;
  }
}
@media (max-width: 425px) {
  .start-page {
    height: 1300px;
  }
  .blue-cards {
    transform: translateY(-600px);
  }
  .after-cards-section  {
    margin-top: -600px;
    padding-top: 80px;
  }
  .blue-card-title {
    font-size: 38px;
  }
  .blue-card-subtitle {
    font-size: 16px;
  }
  .actual-big-panel {
    right: -140px;
  }
  .section-title h2 {
    font-size: 24px;
  }
  .feedback-body-title {
    width: 100%;
    font-size: 18px;
  }
  .feedback-body-subtitle {
    font-size: 13px;
  }
  .feedback-form input {
    width: 260px;
  }
  .feedback-form-btn {
    width: 260px;
  }
  .feedback-body {
    padding: 40px 20px;
    height: 431px;
  }
  .popup-body {
    padding: 30px 20px;
  }
  .header-popup-body {
    width: 95%;
  }
  .popup-close {
    top: 10px;
    right: 10px;
  }
  .popup-close::before, .popup-close::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 2px;
    background: #B3B3B3;
  }
}
@media (max-width: 320px) {
  .blue-cards {
    transform: translateY(-570px);
  }
  .after-cards-section  {
    margin-top: -570px;
    padding-top: 80px;
  }
}